# --- Rust/Cargo ---
/target
simulator_config.json

# --- Next.js / Node ---
node_modules/
.next/
out/
.env*.local
.env

# --- IDEs and OS ---
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
